$common-height: 40px;
$space-width: 555px;

.search-space {
  // overflow: hidden;
  display: flex;
  position: relative;
  width: $space-width;
  height: $common-height;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0 0 1px 1px #ccc;
  border-radius: 20px;

  .engine-select {
    position: relative;
    min-width: 55px;
    height: $common-height;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    cursor: pointer;

    i {
      position: absolute;
      top: 50%;
      left: 12px;
      display: inline-block;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .ream {
      position: absolute;
      top: 50%;
      right: 5px;
      display: inline-block;
      color: #ccc;
      zoom: .8;
      transform: translateY(-50%);
    }
  }

  .engine-select:hover {
    background-color: #eee;
  }

  input {
    right: 0;
    width: 100%;
    padding-right: 40px;
    height: $common-height;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    text-indent: 1em;
    border-radius: 0 20px 20px 0;
  }

  input:focus-visible {
    outline: none;
  }

  i.clear {
    position: absolute;
    right: 11px;
    top: 50%;
    width: 22px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    border-radius: 11px;
    transform: translateY(-50%);
  }

  i.clear:hover {
    background-color: rgba(222, 222, 222, 1);
    cursor: pointer;
  }

  ul.search-list {
    position: absolute;
    top: calc($common-height + 10px);
    width: 100%;
    box-shadow: 0 0 1px 1px #eee;
    border-radius: 4px;

    li {
      height: 32px;
      padding: 0 10px;
      background-color: #fff;
      line-height: 32px;
      font-size: 14px;
      cursor: pointer;
    }

    li:hover,
    li.is-active {
      background-color: rgba(222, 222, 222, 1);
    }
  }
}